body, html {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	text-rendering: geometricPrecision;
	hyphen: auto;
}

.heading {
	text-align: center;
	color: #ffffff;
}

.heading h1{
	font-size: 100px;
}

.myPhoto{
	padding-top: 50px;
	padding-bottom: 30px;
}

.myPhoto img{
	max-width: 30%;
	max-height: 30%;
}

.aboutMe{
	text-align: center;
	color: #ffffff;
}

.aboutMe h1{
	font-size: 50px;
}

.aboutMe p{
	font-size: 32px;
}

hr{
	margin-top: 25px;
	margin-bottom: 25px;
	border: 0;
	border-top: 1px solid #ffffff;
}

.content{
	background-color: rgba(0,0,0,.4);
	text-align: center;
	width: 100%;
	background-size: 100%;
	margin: 0 auto;
	color: #ffffff
}

.fluid-container .header{
	width: 50%;
}

.fluid-container{
	padding-bottom: 50px;
	padding-top: 50px;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

#particles-js{
	background: #0055aa;
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}