// import main sitewide styling
@import "main.less";

// set background color
body{
  background: #6699CC no-repeat;
  background-size: cover;
}

// everything in dead center of the window
.centerPage{
  .center;
  padding-top: 20%;
}
