/*
    Custom site CSS written by Steven Bock found here.
    Good luck understanding any of this.
*/

/* Set sitewide background color */
* {
    background-color: #373737;
}

/* Set sitewide primary text color */
p, h1, h2, h3, a, span, li, aside {
    color: #FFFFFF;
}

/* Set sitewide spacing rules */
body {
    margin: 5% auto;
    font-size: 16px;
    line-height: 1.8;
    max-width: 75%;
    font-family: Arial, sans-serif;
}