<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>
            <h1>About Me</h1>
            <br>
            <h2>The Short Version</h2>
            <p>'Sup! I'm Steven, a software creator currently working on fixing the tech industry. In my off time, I enjoy EDM and dank memes.</p>
            <img src="/assets/img/dank_small.webp"></img>
            <h2>The Long Version</h2>
            <p>Hi there! My name is Steven Bock and I am a software developer. I went to school for comptuer science, so that automatically makes me my family's IT guy.</p>
            <p>Right now, I'm focusing on building out a better presence in the community and in the world. I love connecting with new people and bringing that "wow" feeling of a new piece of tech, a must-have app, or a perspective you never thought of before. I also have access to a 3D printer and use it to print random stuff for my Raspberry Pi.</p>
            <p>In my spare time, I'm currently working with several groups to investigate some of the tech industry's shortcomings. I am also an avid Fortnite player.</p>
            <br>

    </body>
</html>