<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>
            <h1>About Me</h1>
            <br>
            <h2>The Short Version</h2>
            <p>'Sup! I'm Steven, a software developer currently working on the next big thing. In my off time, I enjoy electronic music and dank memes.</p>

            <h2>The Long Version</h2>
            <p>Hi there! My name is Steven Bock and I am a software developer. I went to school for comptuer science, so that automatically makes me my family's IT guy.</p>
            <p>Right now, I'm focusing on building out a better presence in the community. I love connecting with new people and bringing that "wow" feeling of a new piece of tech, a must-have app, or a perspective you never thought of before. I also have access to a 3D printer and use it to print random stuff for my Raspberry Pi.</p>
            <p>In my spare time, I'm going through an 80+ GB collection of music my friend let me take from his iPod Classic. It has roughly 15 years of music, bootleg mixes, and stuff you can't find online anymore. I'm also working on dropping some fresh dank memes to combat the latest plague of hate filled content that's filling my trending topics lists lately.</p>
            <br>

    </body>
</html>