<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>
            <div class="homepage center">
                <h1>Steven Bock</h1>
                <br>
                <div class="flex">
                    <a href="/about">About Me</a>
                    <a href="/projects">Projects</a>
                    <a href="/blog">Blog</a>
                </div>
                
                <p>Contact me at <a href="mailto:steven@stevenbock.me">steven@stevenbock.me</a></p>
            </div>
    </body>
</html>